<%= form_with(model: room) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form class="row g-3">
    <div class="col-auto">
      <label for="form-label">創建房間</label>
      <%= form.text_field :name, class: "form-control" %>
    </div>
    <div class="col-auto">
      <label for="form-label">房間密碼</label>
      <%= form.text_field :password, class: "form-control" %>
    </div>
    <div class="col-auto text-right mt-2">
      <button type="submit" class="btn btn-primary mb-3">建立</button>
    </div>
  </form>
<% end %>