<p id="notice"><%= notice %></p>

<h1>房間</h1>
<%= turbo_stream_from "rooms" %>

<div class="card" id="rooms">
  <%= render @rooms %>
</div>
<br>

<%= turbo_frame_tag "room_form" do %>
  <%= render "rooms/form", room: @room %>
<% end %>
