<%= turbo_stream_from "messages" %>

<%= form_with(model: @message) do |form| %>
<br>
  <h1>房名：<%= @room.name %></h1>

  <form class="row g-3">
    <div class="col-auto mb-2">
      <%= form.text_field :user, class: "form-control", placeholder:"暱稱" %>
    </div>

    <div class="col-auto">
      <%= form.text_field :message, class: "form-control", placeholder:"訊息" %>
      <%= form.hidden_field :room_id, value: @room.id %>
    </div>

    <div class="col-auto text-right mt-2">
      <button type="submit" class="btn btn-primary mb-3">送出</button>
      <%= link_to '返回', rooms_path, class: 'btn btn-danger mb-3' %>
    </div>
  </form>
<% end %>

<div class="card mt-2" id="messages">
  <%= render @room.messages.order(id: :desc) %>
</div>
