<!DOCTYPE html>
<html>
  <head>
    <title>來抬槓</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
    <%= turbo_include_tags %>
    <%= stimulus_include_tags %>
    <!-- Just an image -->
    
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a href="<%= root_path %>" class="navbar-brand">來抬槓</a>
        <span>
          本站任何發言不代表任何立場，請三思而後行
        </span>
        <form class="d-flex">
        </form>
      </div>
    </nav>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
